/*
Elena Wheatley
Fractal Generator Website CSS
5/3/22
*/

h1 {
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 10px 10px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 10px 10px;
}

a {
    color: black;
}

#fractalContainer, #fractal, #shapeFractal {
    display: block;
}

#iterationCount, #increaseIterations, #decreaseIterations, #zoomIn, #zoomOut, #up, #down, #left, #right {
    display: inline-block;
}

svg {
    display: inline-block;
}

div .column {
    display: inline-block;
    /*border: 1px solid black;*/
    width: 30%;
}