/*
Elena Wheatley
Fractal Generator Website CSS
5/3/22
*/

h1 {
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 10px 10px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 10px 10px;
}

a {
    color: black;
}

#fractalContainer, #fractal, #shapeFractal {
    display: block;
}

#increaseIterations, #decreaseIterations, #zoomIn, #zoomOut, #up, #down, #left, #right {
    display: inline-block;
    position: relative;
    top: 14px;
    margin: 10px;
    /* border: 1px solid black; */
}

#iterationCount {
    display: inline-block;
    width: 46px;
    height: 32px;
    padding-left: 6px;
    /* border: 1px solid black; */
    font-size: 32px;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    top: 0px;
    margin: 10px;
}

svg {
    display: inline-block;
}

div .column {
    display: inline-block;
    /*border: 1px solid black;*/
    width: 30%;
    position: absolute;
    top: 70px;
}

#column1 {
    left: 5%;
}

#column2 {
    left: 35%;
}

#column3 {
    left: 65%;
}

